<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Cleaning Records - Dashboard</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
      <!-- site css -->
      <link rel="stylesheet" href="{% static 'style.css' %}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
      <!-- color css -->
      <link rel="stylesheet" href="{% static 'css/colors.css' %}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{% static 'css/perfect-scrollbar.css' %}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
      
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <!--<div>Icons made by <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="index.html"><img class="logo_icon img-responsive" src="{% static 'images/logo/logo_icon.png' %}" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="{% static 'images/layout_img/user_img.jpg' %}" alt="#" /></div>
                        <div class="user_info">
                           <h6>John David</h6>
                           <p><span class="online_animation"></span> Online</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>Cleaning Records Dashboard</h4>
                  <ul class="list-unstyled components">
                     <li class="active">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="false"><i class="fa fa-cogs yellow_color"></i> <span>Generate Cleaning Records</span></a>
                     </li>
                     <li>
                        <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-wrench red_color"></i> <span>Edit Configurations</span></a>
                        <ul class="collapse list-unstyled" id="element">
                           <li><a href="general_elements.html">> <span>General Config</span></a></li>
                           <li><a href="media_gallery.html">> <span>DataFrame Config</span></a></li>
                           <li><a href="icons.html">> <span>Database Config</span></a></li>
                           <li><a href="invoice.html">> <span>Folder Config</span></a></li>
                           <li><a href="invoice.html">> <span>Folder Structure Config</span></a></li>
                           <li><a href="invoice.html">> <span>Known Exceptions</span></a></li>
                           <li><a href="invoice.html">> <span>Success Messages</span></a></li>
                        </ul>
                     </li>
                     <li><a href="widgets.html"><i class="fa fa-book" style="color: #ff5722;"></i> <span>View Logs</span></a></li>
                     <li><a href="tables.html"><i class="fa fa-html5 purple_color"></i> <span>HTML Templates</span></a></li>
                     <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <!-- <a href='https://www.freepik.com/photos/car'>Car photo created by prostooleh - www.freepik.com</a>-->
                            <a href="index.html"><span style="font-size: 35px; color: white; font-weight:normal;"> &nbsp;<span class="fa fa-car" style="color: #ff5722;">&nbsp;</span>Cleaning Records</span></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul>
                                 <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                              </ul>
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{% static 'images/layout_img/user_img.jpg' %}" alt="#" /><span class="name_user">John David</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="profile.html">My Profile</a>
                                       <a class="dropdown-item" href="settings.html">Settings</a>
                                       <a class="dropdown-item" href="help.html">Help</a>
                                       <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               <!-- dashboard inner -->
               {% block content %}
               {% endblock content %}
                <!-- footer -->
                
            </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <!-- wow animation -->
      <script src="{% static 'js/animate.js' %}"></script>
      <!-- select country -->
      <script src="{% static 'js/bootstrap-select.js' %}"></script>
      <!-- owl carousel -->
      <script src="{% static 'js/owl.carousel.js' %}"></script> 
      <!-- chart js -->
      <script src="{% static 'js/Chart.min.js' %}"></script>
      <script src="{% static 'js/Chart.bundle.min.js' %}"></script>
      <script src="{% static 'js/utils.js' %}"></script>
      <script src="{% static 'js/analyser.js' %}"></script>
      <!-- nice scrollbar -->
      <script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <script src="{% static 'js/custom.js' %}"></script>
      
   </body>
</html>