{% extends 'base.html' %}
{% block content %}
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Generate Cleaning Records</h2>
                </div>
                <div class="full_container">
                    
                            
                            
                    <div class="container">
                        <section class="mb-4">

                            <!--Section heading-->
                            <div style="font-size: xx-large;">Generate Cleaning Records</div>        
                            
                            <div class="row">
                        
                                <!--Grid column-->
                                <div class="col-md-9 mb-md-0 mb-5">
                                    <form method="post" action="{% url 'home' %}" enctype="multipart/form-data">
                                        <fieldset>
                                        {% csrf_token %}
                                        <!--Grid row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="md-form form-lg">
                                                    {{ record_form.foldername }}
                                                    <label for="inputLGEx" data-toggle="tooltip" data-placement="right" title="Create or choose a folder name where you want your current cleaning records be stored.">Folder Name</label>
                                                    <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Create or choose a folder name where you want your current cleaning records be stored."></span>
                                                  </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="md-form">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                                        </div>
                                                        <div class="custom-file">
                                                            {{ record_form.csvupload }}
                                                            <label class="custom-file-label" for="inputGroupFile01">Choose CSV file containing date and time of trip(s)</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="filesel" style="display: none;" >
                                            <div class="col-md-12">
                                                <div class="md-form">
                                                    <div class="text-center text-md-left">
                                                        <label>File selected: </label>&nbsp;<span style="font-weight:700;" id="csvselected"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="md-form">
                                                    <div class="text-center text-md-left">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Grid row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="md-form">
                                                    {{ record_form.addcomments }}
                                                    <label for="message">Additional comments for uploading the CSV file </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Grid row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="md-form">
                                                    <div class="text-center text-md-left">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="md-form">
                                                    <div class="text-center text-md-left">
                                                        <button class="btn cur-p btn-primary btn-block" data-bs-toggle="modal" data-bs-target="staticBackdrop">Generate records</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </fieldset>
                                    </form>
                                   
                                </div>
                                <!--Grid column-->
                            </div>
                        </section>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('staticBackdrop').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
    function showSelectedFile() {
      var fileseldiv = document.getElementById("filesel").style.display = 'block';
      var x = document.getElementById("inputGroupFile01").value;
      x = x.split("\\");
      document.getElementById("csvselected").innerHTML = x[x.length - 1];
    }
</script>
<script>
    //const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/appmsg/'
    );
    
    // onmessage - An event listener to be called when a message is received from the server.
    chatSocket.onmessage = function(e) {
        // JSON.parse() converts the JSON object back into the original object,
        // then examine and act upon its contents.
        const data = JSON.parse(e.data);
        
        document.getElementById('chat-log').innerHTML += "<p>" + data.value + '</p>';
    };

    // onclose - An event listener to be called when the connection is closed.
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    chatSocket.onerror = function (e) {
  Console.log ('WebSocket error: '+ E. code);
  console.log(e);
    
    }
    

    
</script>

<span id="chat-log"></span>
<!-- Button trigger modal 
<div class="modal-dialog modal-dialog-centered">...</div>

<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">...</div>


<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4 ms-auto">.col-md-4 .ms-auto</div>
    </div>
    <div class="row">
      <div class="col-md-3 ms-auto">.col-md-3 .ms-auto</div>
      <div class="col-md-2 ms-auto">.col-md-2 .ms-auto</div>
    </div>
    <div class="row">
      <div class="col-md-6 ms-auto">.col-md-6 .ms-auto</div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        Level 1: .col-sm-9
        <div class="row">
          <div class="col-8 col-sm-6">Level 2: .col-8 .col-sm-6</div>
          <div class="col-4 col-sm-6">Level 2: .col-4 .col-sm-6</div>
        </div>
      </div>
    </div>
  </div>
</div>






  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button>
  
  -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div> 
<!--Section: Contact v.2-->
<!--Section: Contact v.2-->
{% endblock content %}